body{
    margin: 0;
}
h2{
    font-family: COOPER;
    font-size: 30px;
}

p{
    font-family: century;
    font-size: 33px;
    padding: 5px;
   text-align: justify;
}
nav{
    background-color:black;
    text-align-last: center;
    padding: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
    font-family: cursive;
}
nav a:hover{
    color: black;
    background-color: rgb(112, 245, 255) ;
    padding: 10px;
}
h1{
    font-size: 40px;
}
header{
    text-align: center;
    background-color: rgb(112, 245, 255);
    font-family: Franklin Gothic;
    padding: 30px;
}
html{
    background-color:whitesmoke;
}
h3{
    text-align: justify;
    font-size: 25px;
}
.main{
    background: url('bg.png') no-repeat top center;
    background-size: cover;
    height: 100vh;
}
.contactform{
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    width: 90%;
    padding: 0 20px;
}
.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);  
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px;
}
.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.input-fields,
.msg{
    width: 48%;
}
.input-fields .input,
.msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}
.msg textarea{
    height: 180px;
}
::-webkit-input-placeholder{
    color: #c5ecfd;
}
::-moz-input-placeholder{
    color: #c5ecfd;
}
::-ms-input-placeholder{
    color: #c5ecfd;
}
.submitbutton{
    color:  #c5ecfd;
    padding: 5px 30px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#19d7f8,
    #19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}